<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ShopPanel" connectionString="Data Source=localhost\SQLEXPRESS;AttachDbFilename='|DataDirectory|\ShopPanel.mdf';Integrated Security=True"
	 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>